$break-small: 500px
$break-medium: 1000px
$break-large: 1500px
body
  background-color: #ffffff

h1
  @media screen and (max-width: $break-small)
    font-size: 20px
  @media screen and (min-width: $break-medium)
    font-size: 50px
  @media screen and (min-width: $break-large)
    font-size: 100px
h4
  color: white
.p_img
    height: 500px



